@model IEnumerable<EcooSP.Models.TACGIA>

@{
    ViewBag.Title = "TacGia";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial;
        }

        * {
            box-sizing: border-box;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }


        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<h2>Tác Giả</h2>

<div class="col-md-12">
    <form class="example" style="margin:0;max-width:300px">
        <input type="text" placeholder="Search.." name="diachi" value="@ViewBag.diachi" ">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <a href="/Admin/ChiTiet/ThemMoiTacGia"> Thêm Mới</a>
</div>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Họ Tên Tác Giả
        </th>
        <th>
            Mô Tả 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TG_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TG_HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TG_MoTa)
        </td>
        <td>
            <a href="/Admin/Sanpham/CapNhat?id=@item.TG_Id">Sửa</a>|
            <a href="/Admin/Sanpham/CapNhat?id=@item.TG_Id" style="color:red">Xoá</a>
        </td>
    </tr>
}

</table>
