body{
    width: 100vw;
    height: 100vh;
    background-color: #172439;
    position: relative;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #0b131d;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 10px 30px #0b131d;
    text-align: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    gap: 30px 0; 
    
}
.form-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: rgb(30, 198, 94);
    margin-bottom: 30px;

}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-grow: 1;
}

.form-input{
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: inherit;
}
.form-submit{
    width: 100%;
    border: 1px solid #25ddcd;
    padding: 14px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #25ddcd;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: #25ddcd;
    color: #fff;
}

.noti{
    position: relative;
    color: rgb(109, 96, 96);
    left: -33% ;
    cursor: pointer;
    
}

.noti:hover{
    color: #25ddcd;
}

