
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
    
}

.clear{
    clear: both;
}

.col{
    float: left;
    padding-left: 26px;
    padding-right: 16px;
    
}
.col-fourth{
   width: 25%;     
}

.content .member-desc{
    font-size: 30px;
    text-align: left;
}

/* header */


.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__logo a{
    background: linear-gradient(to right, #2646fd,#61cdff);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
}




#header{
    z-index: 1;
    height: 60px;
    background-color: #1b1a1a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content:space-around;
    padding: 0 150px;
    /* overflow: hidden; */
}

.nav{
    display: inline-block;
    list-style-type: none;
    
}
.nav > li{
    display: inline-block;
}

.nav li{
    
    position: relative; 
}

.nav .subnav a { 
    color: #333;
    padding: 0 16px;
    line-height: 38px;
    
}

.nav > li > a { 
    color: #fff;
    text-transform: uppercase;
    
}
.nav li a{
    color:#fff;
    text-decoration: none;
    line-height:60px;
    padding: 0px 24px;
    display: block;
}
.nav li:hover .subnav{
    display: block;
}

.nav > li:hover > a,
.nav .subnav li:hover a {
    color:#fff;
    background-color:#2646fd;
}


/* css header icon */
.header-icon_KOBAMDC{
    font-size: 30px;
    color: #fff;
    padding: 15px 19px;
}
.header-icon{
    font-size: 30px;
    color: #fff;
    padding: 15px 19px;
}

.header-icon:hover{
    color:#004cff;
    cursor: pointer;
    /* background-color: #fff; */
}

/* *****slider****** */

.slider{
    position: relative;
    width: 1100px;
    height: 250px;
    margin: 70px auto;
    border-radius: 10px;
    /* background-image: linear-gradient(red, yellow); */
    background: url(../img/img3.jpg) top center / cover no-repeat;
    /* padding-top: 50%; */
    /* margin-top:60px; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    opacity: 0.9;
    
    /* #0b3089; #609be9 */
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0a0b0b;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #050707;
}

.searchButton {
  width: 100px;
  height: 36px;
  border: 1px solid #050606;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 50%;
  /* display: block; */
  position: absolute;

  /* right: 20%; */
  left: 25%;
  margin-top: 190px;
}

.header__heading{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
    
}

.header__heading h1{
    font-size: 30px;
    text-align: left;
    color: #ffffff;
}

.header__heading h2{
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 2;
    
    
}
.header__heading h3{
    font-size: 17px;
    color: #fff;
    text-align: left;
    padding-top: 15px;
}

.header__heading .btn{
    display: inline-block;
    font-size: 25px;
    border: none;
    padding: 5px 10px;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    margin: 10px 0 0 100px;
}

.header__heading .btn:hover{
    background-color: #000000;
    color: #f40000;
    cursor: pointer;
}



/* content */

.content{
    background-color: rgb(0, 0 , 0 ,0.7);
}

.content .content-section
{
    width: 1200px;
    max-width: 100%;
    /* min-height: 2000px; */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right:auto;
    /* padding-left: 16px;
    padding-right: 16px; */
    background-color: rgb(0, 0 , 0 ,0.5);
    
}

.content .section-heading{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.content .member-list{
    margin-top: 32px;
}


.content .member-name  {
    /* width: 250px; */
    font-size: 20px;
    text-align: left;
    display: inline-block;
    color: #e1e1e1;
    padding: 10px 0 0 0;
    margin-top: -4px;
    text-decoration: none;
    /* border-radius: 0 0 10px 10px; */
}

.content .member-name:hover{
    color: #004cff;
}
.content .member-img{
    width:250px;
    height: 300px;
    margin-top:15px;
    border-radius: 2px;
    object-fit: cover;
    overflow: hidden;
    
}

.mebber-price{
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
}

.Author{
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
}

.row .member-list{
    margin-top: 10px;
}



.col .col-fourth{
    background-color: #ccc;
}




/* footer */

footer{
    position: relative;
    width: 100%;
    height: 250px;
    Padding: 50px 160px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 30px; */
}

footer .container{
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;

}

footer .container .sec.aboutus{
    width: 40%;
}

footer h2{
    position:  relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}
footer h2:before{
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: red;
}
footer p{
    color: #999;
    font-size: 16px;
}

.sci{
    margin: 20px 10px 0 0;
    display: flex;
    
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.sci li a:hover{
    background: #f00;
}

.sci li a .fa-brands{
    color: #fff;
    font-size: 30px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    /* width: calc(30%-60px); */
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 15px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin: 0;

}

.contact .info li span{
    color: #999;
    margin: 2px 0px 0 10px;
}

.contact .info li a{
    color: #999;
    text-decoration: none;   
}

.contact .info li a:hover{
    color: #fff;
}


.fa-solid-arrow{
    color: #fff;
}
